<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="origin-trial"
            content="Ag18PGpkzCAexhsqm+J2DSa8P9G6zI/J/MmAd5NeYJLNxWcCdjBBGUikKeSQ27XljRZuQGTaYFatzsLMyeleQQcAAABReyJvcmlnaW4iOiJodHRwczovL3l1dTY4ODMuZ2l0aHViLmlvOjQ0MyIsImZlYXR1cmUiOiJXZWJHUFUiLCJleHBpcnkiOjE2NjM3MTgzOTl9"
        />
        <title>WebGPU Test</title>
    </head>
    <body>
        <canvas id="webgpu"></canvas>
        <div id="app"></div>
    </body>
</html>
