<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            http-equiv="origin-trial"
            content="AmaPOhEaCbDkybpcvNhdB2iz963cWe1ttQ0DZTYMMMuaoCqBnru5ziTQIoL8FLIjaUo8xRl+/SC1RcuU/i1UJgQAAABReyJvcmlnaW4iOiJodHRwczovL3l1dTY4ODMuZ2l0aHViLmlvOjQ0MyIsImZlYXR1cmUiOiJXZWJHUFUiLCJleHBpcnkiOjE2OTE3MTE5OTl9"
        />
        <title>WebGPU Test</title>
    </head>
    <body>
        <canvas id="webgpu"></canvas>
        <div id="app"></div>
    </body>
</html>
